/*General style*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lobster&family=Noticia+Text:wght@400;700&family=Playball&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 24px;
  height: 100%;
  --yellow: rgba(238,195,86, 1);
  --red: rgba(224,65,52, 1);
  --green: rgba(152,176,92,1);
  --blue: rgba(104,140,180,1);
  --orange: rgba(234,157,69,1);
  --pink: rgba(211,93,134,1);
  --gray: rgba(58, 58, 58, 1);
}

body {
  font-family: 'Noticia Text', Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: var(--gray);
}


main {
  padding-top: 45px;
  
}


ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: 'Lobster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .2rem;
  font-size: 2.5rem;
}
h2,
h3 {
  font-family: 'playball', Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

blockquote {
  font-family: 'Cinzel', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* classes */

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.container {
  max-width: 2000px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: flex-start;
  gap: 40px;
}


.flex {
  display: flex;
}

.fullscreen {
  width: 100%;
  min-height: 100vmin;
  max-height: 100%
}


.marginAuto {
  margin: auto;
}

.marginX {
  margin-bottom: 30px;
}

.marginY {
  margin: 0 30px;
}

.paddingX {
  padding: 30px 0;
}
.paddingY {
  padding: 0 30px;
}

.textCenter {
  text-align: center;
}

.top {
  justify-content: top;
}

.squareImg {
  width: 250px;
  height: auto;
}

.squareImg img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.squareImg figcaption {
  padding-top: 10px;
}

/* header */

header {
  background-color: var(--green) ;
  width: 100%;
  height: 50px;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  margin: solid 1px red;
}

nav {
  height: 100%;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: end;
}

header li {
  text-align: center;
}

header li a {
  display: inline-block;
  padding: 0.5rem 22px;
  height: 100%;
  /*font-family: ;
  color: ;
  font-size: ; */
  margin: auto;
  transition: 0.1s
}

/* header li a:hover {
   background-color: ; 
} */

.mobileJoin {
  display: none;
}

/* main */

main {
  padding-top: 50px;
}
/* hero */

#hero {
  background-image: url(./images/heroBackground.jpg) ; 
  color: whitesmoke;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

#hero div {
  width: 100%;
  background-color: var(--green);
  padding: 10px;
}


.desktopForm {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.desktopForm input {
  width: 300px;
  height: 45px;
}
.desktopForm button {
  background-color: #1D1;
  color: #fff;
  text-shadow: 1px 1px black;
  border: 2px solid #12dd23;
  width: 100px;
  height: 40px;
  font-size: .8rem;
}
#emailLabel {
  font-size: 1.2rem;
}
button:hover {
  background-color: #0c960c;
  border: darkgreen;
  transition: background-color .15s, font-size .15s;
}

button:active {
  border-color: #fff;
}


/* about */

#about {
  background-color: var(--green);
}

/* events */

#events {
  background-color: var(--yellow);
  padding: 30px 0;
}


#events h2 {
  background-color: var(--yellow);
}
#events .container {
  align-items: stretch;
  align-content: center;
}
#events .card{
  text-align: left;
  border: solid 2px var(--orange);
  background-color: var(--pink);
  padding: 10px;
  min-width: 250px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card span {
  font-weight: 700;
}

/* testimonial */

#testimonial {
  background-color: var(--blue);
  color: whitesmoke
}

/* partners */

#partners {
  background-image: url(./images/pieShop.jpg);
  color: whitesmoke;
  background-size: cover;
  align-items: center;
}


#partners h3,
#partners p {
  background-color: var(--orange);
  padding: 10px;
}
/* fun */

#fun {
  background-color: var(--pink);
}
/* footer */

footer {
  background-color: var(--green);
  text-align: left;
  padding-left: 5px;
}

